<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create New Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Workout Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Number of Sets:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Number of Reps:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand = "block" (click) = "addLift()">Submit Lift</ion-button>
</ion-content>
